In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [27]:
import json
import csv

In [46]:
import json
import csv

# Open the JSON file for reading
with open('attendancerealtime.json') as json_file:
    data = json.load(json_file)

# Open a CSV file for writing
with open('students.csv', mode='w', newline='') as csv_file:
    writer = csv.writer(csv_file)

    # Write the header row to the CSV file
    writer.writerow(["ID", "Name", "Major", "Standing", "Starting Year", "Year", "Total Attendance", "Last Attendance Time"])

    # Write the data rows to the CSV file
    for student_id, student_info in data["Students"].items():
        writer.writerow([student_id, student_info["name"], student_info["major"], student_info["standing"], student_info["starting_year"], student_info["year"], student_info["total_attendance"], student_info["last_attendance_time"]])

In [47]:
df=pd.read_csv("students.csv")

In [48]:
df.head()

,ID,Name,Major,Standing,Starting Year,Year,Total Attendance,Last Attendance Time
0,1420,Samir Sengupta,Data Science,G,2021,3,12,2023-03-13 10:04:21
1,1567,Sundar Pichai,B.Tech,G,2021,4,8,2023-3-11 00:54:34
2,2721,Sowmiah Nadar,Data Science,G,2021,4,20,2023-03-13 10:04:37
3,6543,MS Dhoni,BMMS,G,2021,5,8,2023-3-11 00:54:34
4,321654,Murtaza Hassan,Robotics,G,2017,4,7,2022-12-11 00:54:34